@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@property --animate-deg {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.animateborder {
  background: conic-gradient(
    from var(--animate-deg),
    transparent,
    rgba(255, 255, 255, 0.1) 10%
  );
  animation: rotateBg 8s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
  font-family: "Ubuntu", sans-serif;
}

@layer base {
  html {
    font-family: "Ubuntu", system-ui, sans-serif;
  }
}

@keyframes logoTextIn {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes mainContentIn {
  from {
    opacity: 0;
    transform: scale(0.99) translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

._main-content {
  opacity: 0;

  animation: mainContentIn 0.6s ease-out both;
  animation-delay: 0.5s;
}

@keyframes rotateBg {
  0% {
    --animate-deg: 0deg;
  }
  100% {
    --animate-deg: -360deg;
  }
}
