@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-anim-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --bg-anim-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --bg-anim-percent {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.animateborder {
  background: conic-gradient(
    from var(--border-anim-angle),
    #e4e4e799,
    hsl(0deg 0% 100% / 28%) 30%
  );
  animation: rotateBg 6s linear infinite;
  animation-direction: reverse;
  position: reltaive;
  overflow: hidden;

  &:hover {
    animation-direction: normal;
    background: conic-gradient(
      from var(--border-anim-angle),
      rgb(20 184 166),
      hsl(0deg 0% 100% / 28%) 30%
    );
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(0) scale(0.99);
  }
  &:hover::before {
    opacity: 1;
  }
  &::before {
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
    content: "";
    position: absolute;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    transform: translate(-50%, -50%);
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 40px rgba(255, 255, 255, 0.5);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes bodyAnim {
  from {
    --bg-anim-percent: 90%;
    --bg-anim-angle: 30deg;
  }
  to {
    --bg-anim-percent: 100%;
    --bg-anim-angle: 54deg;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(
    var(--bg-anim-angle),
    black,
    #00130f var(--bg-anim-percent)
  );
  animation: bodyAnim 3s ease-out both;
  min-height: 100vh;
  min-height: 100dvh;
}

@layer base {
  html {
    font-family: "Ubuntu", system-ui, sans-serif;
  }
}

@keyframes logoTextIn {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes mainContentIn {
  from {
    opacity: 0;
    transform: scale(0.99) translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

._main-content {
  opacity: 0;

  animation: mainContentIn 0.6s ease-out both;
  animation-delay: 0.5s;
}

@keyframes rotateBg {
  0% {
    --border-anim-angle: 90deg;
  }
  100% {
    --border-anim-angle: -270deg;
  }
}

@keyframes personIn {
  from {
    opacity: 0;
    transform: translateY(0.5rem) scale(0.9) rotate(5deg);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.person {
  opacity: 0;
  animation-fill-mode: both !important;
  animation: personIn 0.5s;
  animation-delay: calc(0.6s + var(--i) * 0.15s);
}

@keyframes bgCanvasIn {
  from {
    opacity: 0;
    scale: 0.5;
  }
}

.bg-canvas {
  border: 1px solid black;
  position: fixed;
  opacity: 0.05;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(4px) grayscale(0.85) opacity(1);
  animation: bgCanvasIn 10s ease-out both;
}
